@media only screen and (max-width: 1600px){
	
	.header{
		margin-top: -10px;
	}
	.logo{
		width: 90px;
		
	}
.txt13{
margin-top: 70px;
position: absolute;
}
.txt14{
margin-top: 100px;
position: absolute;
}
.txt15{
margin-top: 130px;
position: absolute;
}
.txt16{
margin-top: 160px;
position: absolute;
}
.txt17{
margin-top: 190px;
position: absolute;
}
.txt18{
margin-top: 220px;
position: absolute;
}
.tochka10{
	margin-top: 75px;
}
.tochka11{
	margin-top: 105px;
}
.tochka12{
	margin-top: 135px;
}
.tochka13{
	margin-top: 165px;
}
.tochka14{
	margin-top: 195px;
}
.tochka15{
	margin-top: 225px;
}
.txt19{
	margin-top: 550px;
}
.xod1{
	margin-top: 650px;
}
.xod2{
	margin-top: 750px;
}
.xod3{
	margin-top: 850px;
}
.xod4{
	margin-top: 950px;
}
.xodtxt1{
	margin-top: 660px;
}
.xodtxt2{
	margin-top: 760px;
}
.xodtxt3{
	margin-top: 860px;
}
.xodtxt4{
	margin-top: 965px;
}
.btnxod1{
	margin-top: 670px;
}
.btnxod2{
	margin-top: 770px;
}
.btnxod3{
	margin-top: 870px;
}
.btnxod4{
	margin-top: 973px;
}
.slider{  
margin-top: 810px;
margin-left: 370px;
}
.txtmap{
	margin-top: 1150px;
}
.api-maps{
	margin-top: 1240px;
}
.footer{
	margin-top: 100px;
}
}
@media only screen and (max-width: 1550px){
	
	.header{
		margin-top: -10px;
	}
	.logo{
		width: 90px;
	}

	.number{
		font-size: 18px;
	}
.famphoto{
font-size: 26px;
}
.naophoto{
font-size: 26px;
}
.txtadvokat{
font-size: 23px;
}
.txtother{
font-size: 23px;
}
.txtother2{
font-size: 23px;
}
.mail{
font-size: 20px;
}
.wa{
font-size: 20px;
}
.txt1{
font-size: 22px;
}
.txt12{
font-size: 22px;
}
.txt19{
	font-size: 22px;
}
.txtmap{
font-size: 24px;
}
.txt13{
margin-top: 70px;
position: absolute;
}
.txt14{
margin-top: 100px;
position: absolute;
}
.txt15{
margin-top: 130px;
position: absolute;
}
.txt16{
margin-top: 160px;
position: absolute;
}
.txt17{
margin-top: 190px;
position: absolute;
}
.txt18{
margin-top: 220px;
position: absolute;
}
.tochka10{
	margin-top: 75px;
}
.tochka11{
	margin-top: 105px;
}
.tochka12{
	margin-top: 135px;
}
.tochka13{
	margin-top: 165px;
}
.tochka14{
	margin-top: 195px;
}
.tochka15{
	margin-top: 225px;
}
.txt19{
	margin-top: 550px;
}
.xod1{
	margin-top: 650px;
}
.xod2{
	margin-top: 750px;
}
.xod3{
	margin-top: 850px;
}
.xod4{
	margin-top: 950px;
}
.xodtxt1{
	margin-top: 660px;
}
.xodtxt2{
	margin-top: 760px;
}
.xodtxt3{
	margin-top: 860px;
}
.xodtxt4{
	margin-top: 965px;
}
.btnxod1{
	margin-top: 670px;
}
.btnxod2{
	margin-top: 770px;
}
.btnxod3{
	margin-top: 870px;
}
.btnxod4{
	margin-top: 973px;
}
.slider{  
margin-top: 810px;
margin-left: 370px;
}
.txtmap{
	margin-top: 1150px;
}
.api-maps{
	margin-top: 1240px;
}
.footer{
	margin-top: 100px;
}
}
@media only screen and (max-width: 1500px){
	
	.header{
		margin-top: -10px;
	}
	.logo{
		width: 90px;
	}

	.number{
		font-size: 16px;
		margin-left: 1230px;
	}
.famphoto{
font-size: 26px;
}
.naophoto{
font-size: 26px;
}
.txtadvokat{
font-size: 23px;
}
.txtother{
font-size: 23px;
}
.txtother2{
font-size: 23px;
}
.mail{
font-size: 20px;
margin-left: 1230px;
}
.wa{
font-size: 20px;
margin-left: 1240px;
}
.txt1{
font-size: 22px;
}
.txt12{
font-size: 22px;
}
.txt19{
	font-size: 22px;
}
.txtmap{
font-size: 24px;
}
.txt13{
margin-top: 70px;
position: absolute;
}
.txt14{
margin-top: 100px;
position: absolute;
}
.txt15{
margin-top: 130px;
position: absolute;
}
.txt16{
margin-top: 160px;
position: absolute;
}
.txt17{
margin-top: 190px;
position: absolute;
}
.txt18{
margin-top: 220px;
position: absolute;
}
.tochka10{
	margin-top: 75px;
}
.tochka11{
	margin-top: 105px;
}
.tochka12{
	margin-top: 135px;
}
.tochka13{
	margin-top: 165px;
}
.tochka14{
	margin-top: 195px;
}
.tochka15{
	margin-top: 225px;
}
.txt19{
	margin-top: 550px;
}
.xod1{
	margin-top: 650px;
}
.xod2{
	margin-top: 750px;
}
.xod3{
	margin-top: 850px;
}
.xod4{
	margin-top: 950px;
}
.xodtxt1{
	margin-top: 660px;
}
.xodtxt2{
	margin-top: 760px;
}
.xodtxt3{
	margin-top: 860px;
}
.xodtxt4{
	margin-top: 965px;
}
.btnxod1{
	margin-top: 670px;
}
.btnxod2{
	margin-top: 770px;
}
.btnxod3{
	margin-top: 870px;
}
.btnxod4{
	margin-top: 973px;
}
.slider{  
margin-top: 810px;
margin-left: 370px;
}
.txtmap{
	margin-top: 1150px;
}
.api-maps{
	margin-top: 1240px;
}
.footer{
	margin-top: 100px;
}
}
@media only screen and (max-width: 1400px){
	
	.header{
		margin-top: -10px;
	}
	.logo{
		width: 90px;
	}

	.number{
		font-size: 16px;
		margin-left: 1150px;
		white-space: pre;
	}
	.txt5{
		font-size: 36px;
	}
	.img1{
		margin-left: 1520px;
	}
	.lok{
		margin-left: 560px;
	}
	.adress{
		margin-left: 240px;
	}
	.pole1{
		margin-left: 750px;
		width: 670px;
	}
	.linephoto{
		margin-left: 750px;
		width: 670px;
	}
	.tocdop{
		margin-left: 770px;
	}
	.poltxt0{
		margin-left: 750px;
		font-size: 16px;
	}
	.tocdop1{
margin-top: -459px;
	}
	.tocdop2{
margin-top: -421px;
	}
	.tocdop3{
margin-top: -363px;
	}
	.tocdop4{
margin-top: -325px;
	}
.famphoto{
font-size: 25px;
margin-left: 750px;
}
.naophoto{
font-size: 25px;
margin-left: 750px;
}
.txtadvokat{
font-size: 22px;
margin-left: 750px;
}
.txtother{
font-size: 22px;
margin-left: 850px;
}
.txtother2{
font-size: 22px;
margin-left: 750px;
}
.mail{
font-size: 20px;
margin-left: 1150px;
}
.wa{
font-size: 20px;
margin-left: 1160px;
}
.pole3{
	width: 1300px;
}
.txt1{
font-size: 21px;
}
.txt12{
font-size: 21px;
}
.txt19{
	font-size: 21px;
}
.txtmap{
font-size: 24px;
}
.txt13{
margin-top: 100px;
position: absolute;
}
.txt14{
margin-top: 130px;
position: absolute;
}
.txt15{
margin-top: 160px;
position: absolute;
}
.txt16{
margin-top: 190px;
position: absolute;
}
.txt17{
margin-top: 220px;
position: absolute;
}
.txt18{
margin-top: 250px;
position: absolute;
}
.tochka10{
	margin-top: 105px;
}
.tochka11{
	margin-top: 135px;
}
.tochka12{
	margin-top: 165px;
}
.tochka13{
	margin-top: 195px;
}
.tochka14{
	margin-top: 225px;
}
.tochka15{
	margin-top: 255px;
}
.txt19{
	margin-top: 550px;
}
.xod1{
	margin-top: 650px;
}
.xod2{
	margin-top: 750px;
}
.xod3{
	margin-top: 850px;
}
.xod4{
	margin-top: 950px;
}
.xodtxt1{
	margin-top: 660px;
}
.xodtxt2{
	margin-top: 760px;
}
.xodtxt3{
	margin-top: 860px;
}
.xodtxt4{
	margin-top: 965px;
}
.btnxod1{
	margin-top: 670px;
}
.btnxod2{
	margin-top: 770px;
}
.btnxod3{
	margin-top: 870px;
}
.btnxod4{
	margin-top: 973px;
}
.slider{  
margin-top: 810px;
margin-left: 370px;
}
.txtmap{
	margin-top: 1150px;
}
.api-maps{
	margin-top: 1240px;
}
.footer{
	margin-top: 100px;
}
}
@media only screen and (max-width: 1280px){
	
	.header{
		margin-top: -10px;
	}
	.logo{
		width: 90px;
	}

	.number{
		font-size: 16px;
		margin-left: 1150px;
		white-space: pre;
	}
	.txt5{
		font-size: 36px;
	}
	.img1{
		margin-left: 1520px;
	}
	.lok{
		margin-left: 560px;
	}
	.adress{
		margin-left: 240px;
	}
	.pole1{
		margin-left: 750px;
		width: 670px;
	}
	.linephoto{
		margin-left: 750px;
		width: 670px;
	}
	.tocdop{
		margin-left: 770px;
	}
	.poltxt0{
		margin-left: 750px;
		font-size: 16px;
	}
	.tocdop1{
margin-top: -459px;
	}
	.tocdop2{
margin-top: -421px;
	}
	.tocdop3{
margin-top: -363px;
	}
	.tocdop4{
margin-top: -325px;
	}
.famphoto{
font-size: 25px;
margin-left: 750px;
}
.naophoto{
font-size: 25px;
margin-left: 750px;
}
.txtadvokat{
font-size: 22px;
margin-left: 750px;
}
.txtother{
font-size: 22px;
margin-left: 850px;
}
.txtother2{
font-size: 22px;
margin-left: 750px;
}
.mail{
font-size: 20px;
margin-left: 1150px;
}
.wa{
font-size: 20px;
margin-left: 1160px;
}
.pole3{
	width: 1300px;
}
.txt1{
font-size: 21px;
}
.txt12{
font-size: 21px;
white-space: pre;
}
.txt19{
	font-size: 21px;
}
.txtmap{
font-size: 24px;
}
.txt13{
margin-top: 100px;
position: absolute;
}
.txt14{
margin-top: 130px;
position: absolute;
}
.txt15{
margin-top: 160px;
position: absolute;
}
.txt16{
margin-top: 190px;
position: absolute;
}
.txt17{
margin-top: 220px;
position: absolute;
}
.txt18{
margin-top: 250px;
position: absolute;
}
.tochka10{
	margin-top: 105px;
}
.tochka11{
	margin-top: 135px;
}
.tochka12{
	margin-top: 165px;
}
.tochka13{
	margin-top: 195px;
}
.tochka14{
	margin-top: 225px;
}
.tochka15{
	margin-top: 255px;
}
.txt19{
	margin-top: 550px;
}
.xod1{
	margin-top: 650px;
}
.xod2{
	margin-top: 750px;
}
.xod3{
	margin-top: 850px;
}
.xod4{
	margin-top: 950px;
}
.xodtxt1{
	margin-top: 660px;
}
.xodtxt2{
	margin-top: 760px;
}
.xodtxt3{
	margin-top: 860px;
}
.xodtxt4{
	margin-top: 965px;
}
.btnxod1{
	margin-top: 670px;
}
.btnxod2{
	margin-top: 770px;
}
.btnxod3{
	margin-top: 870px;
}
.btnxod4{
	margin-top: 973px;
}
.slider{  
margin-top: 810px;
margin-left: 370px;
}
.txtmap{
	margin-top: 1150px;
}
.api-maps{
	margin-top: 1240px;
}
.footer{
	margin-top: 100px;
}
}
@media only screen and (max-width: 1150px){
	
	.header{
		margin-top: -10px;
	}
	.logo{
		width: 90px;
	}

	.number{
		font-size: 16px;
		margin-left: 1150px;
		white-space: pre;
	}
	.txt5{
		font-size: 36px;
		white-space: pre;
	}
	.img1{
		margin-left: 1350px;
	}
	.lok{
		margin-left: 560px;
	}
	.adress{
		margin-left: 240px;
	}
	.pole1{
		margin-left: 750px;
		width: 670px;
	}
	.linephoto{
		margin-left: 750px;
		width: 670px;
	}
	.tocdop{
		margin-left: 770px;
	}
	.poltxt0{
		margin-left: 750px;
		font-size: 16px;
	}
	.tocdop1{
margin-top: -459px;
	}
	.tocdop2{
margin-top: -421px;
	}
	.tocdop3{
margin-top: -363px;
	}
	.tocdop4{
margin-top: -325px;
	}
.famphoto{
font-size: 25px;
margin-left: 750px;
}
.naophoto{
font-size: 25px;
margin-left: 750px;
white-space: pre;
}
.txtadvokat{
font-size: 22px;
margin-left: 750px;
}
.txtother{
font-size: 22px;
margin-left: 850px;
white-space: pre;
}
.txtother2{
font-size: 22px;
margin-left: 750px;
}
.mail{
font-size: 20px;
margin-left: 1150px;
}
.wa{
font-size: 20px;
margin-left: 1160px;
}
.pole3{
	width: 1300px;
}
.txt1{
font-size: 21px;
}
.txt12{
font-size: 21px;
white-space: pre;
}
.txt19{
	font-size: 21px;
}
.txtmap{
font-size: 24px;
}
.txt13{
margin-top: 100px;
position: absolute;
}
.txt14{
margin-top: 130px;
position: absolute;
}
.txt15{
margin-top: 160px;
position: absolute;
}
.txt16{
margin-top: 190px;
position: absolute;
}
.txt17{
margin-top: 220px;
position: absolute;
}
.txt18{
margin-top: 250px;
position: absolute;
}
.tochka10{
	margin-top: 105px;
}
.tochka11{
	margin-top: 135px;
}
.tochka12{
	margin-top: 165px;
}
.tochka13{
	margin-top: 195px;
}
.tochka14{
	margin-top: 225px;
}
.tochka15{
	margin-top: 255px;
}
.txt19{
	margin-top: 550px;
}
.xod1{
	margin-top: 650px;
}
.xod2{
	margin-top: 750px;
}
.xod3{
	margin-top: 850px;
}
.xod4{
	margin-top: 950px;
}
.xodtxt1{
	margin-top: 660px;
}
.xodtxt2{
	margin-top: 760px;
}
.xodtxt3{
	margin-top: 860px;
}
.xodtxt4{
	margin-top: 965px;
}
.btnxod1{
	margin-top: 670px;
}
.btnxod2{
	margin-top: 770px;
}
.btnxod3{
	margin-top: 870px;
}
.btnxod4{
	margin-top: 973px;
}
.slider{  
margin-top: 810px;
margin-left: 370px;
}
.txtmap{
	margin-top: 1150px;
}
.api-maps{
	margin-top: 1240px;
}
.footer{
	margin-top: 100px;
}
}
@media only screen and (max-width: 580px){
	
	.header{
		margin-top: -10px;
	}
	.logo{
		width: 90px;
	}

	.number{
		font-size: 16px;
		margin-left: 1150px;
		white-space: pre;
	}
	.txt5{
		font-size: 36px;
	}
	.img1{
		margin-left: 1520px;
	}
	.lok{
		margin-left: 560px;
	}
	.adress{
		margin-left: 240px;
	}
	.pole1{
		margin-left: 750px;
		width: 670px;
	}
	.linephoto{
		margin-left: 750px;
		width: 670px;
	}
	.tocdop{
		margin-left: 770px;
	}
	.poltxt0{
		margin-left: 750px;
		font-size: 16px;
	}
	.tocdop1{
margin-top: -459px;
	}
	.tocdop2{
margin-top: -421px;
	}
	.tocdop3{
margin-top: -363px;
	}
	.tocdop4{
margin-top: -325px;
	}
.famphoto{
font-size: 25px;
margin-left: 750px;
}
.naophoto{
font-size: 25px;
margin-left: 750px;
}
.txtadvokat{
font-size: 22px;
margin-left: 750px;
}
.txtother{
font-size: 22px;
margin-left: 850px;
}
.txtother2{
font-size: 22px;
margin-left: 750px;
}
.mail{
font-size: 20px;
margin-left: 1150px;
}
.wa{
font-size: 20px;
margin-left: 1160px;
}
.pole3{
	width: 1300px;
}
.txt1{
font-size: 21px;
}
.txt12{
font-size: 21px;
white-space: pre;
}
.txt19{
	font-size: 21px;
}
.txtmap{
font-size: 24px;
}
.txt13{
margin-top: 100px;
position: absolute;
}
.txt14{
margin-top: 130px;
position: absolute;
}
.txt15{
margin-top: 160px;
position: absolute;
}
.txt16{
margin-top: 190px;
position: absolute;
}
.txt17{
margin-top: 220px;
position: absolute;
}
.txt18{
margin-top: 250px;
position: absolute;
}
.tochka10{
	margin-top: 105px;
}
.tochka11{
	margin-top: 135px;
}
.tochka12{
	margin-top: 165px;
}
.tochka13{
	margin-top: 195px;
}
.tochka14{
	margin-top: 225px;
}
.tochka15{
	margin-top: 255px;
}
.txt19{
	margin-top: 550px;
}
.xod1{
	margin-top: 650px;
}
.xod2{
	margin-top: 750px;
}
.xod3{
	margin-top: 850px;
}
.xod4{
	margin-top: 950px;
}
.xodtxt1{
	margin-top: 660px;
}
.xodtxt2{
	margin-top: 760px;
}
.xodtxt3{
	margin-top: 860px;
}
.xodtxt4{
	margin-top: 965px;
}
.btnxod1{
	margin-top: 670px;
}
.btnxod2{
	margin-top: 770px;
}
.btnxod3{
	margin-top: 870px;
}
.btnxod4{
	margin-top: 973px;
}
.slider{  
margin-top: 810px;
margin-left: 370px;
}
.txtmap{
	margin-top: 1150px;
}
.api-maps{
	margin-top: 1240px;
}
.footer{
	margin-top: 100px;
}
.polefooter{
	height: 2000px;
}
}